name: CI

on:
  pull_request:
    branches: [ main ]

jobs:
  functional-tests:
    name: Functional Tests
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v6
    
    - name: Install libssh
      run: |
        sudo apt-get update
        sudo apt-get install -y libssh-dev
    
    - name: Setup Swift
      uses: swift-actions/setup-swift@v2
      with:
        swift-version: "6.2"
    
    - name: Start SSH test server
      run: docker compose -f Tests/docker-compose.yml up -d
    
    - name: Run tests
      run: swift test
    
    - name: Stop SSH test server
      if: always()
      run: docker compose -f Tests/docker-compose.yml down
