name: CI

on:
  pull_request:
    branches: [ main ]

jobs:
  functional-tests:
    name: Functional Tests
    runs-on: macos-15
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v6
    
    - name: Install libssh
      run: |
        brew install libssh
    
    - name: Setup Swift
      uses: swift-actions/setup-swift@v2
      with:
        swift-version: "6.2"

    - name: Setup Docker on macOS with Colima
      uses: douglascamata/setup-docker-macos-action@v1
      with:
        colima: latest
        lima: latest

    - name: Start SSH test server
      run: docker compose -f Tests/docker-compose.yml up -d
    
    - name: Run tests
      run: swift test
    
    - name: Stop SSH test server
      if: always()
      run: docker compose -f Tests/docker-compose.yml down
